:root {
	--win-color: #28a745;
	--lose-color: #dc3545;
	--draw-color: ;
	--modal-duration: 1s;
}

*{
	margin: 0px;
	padding: 0px;
}

.title-heading {
	font-family: sans-serif;
	text-align: center;
	padding: 5px;
}

.title-container{
	width: 500px;
	margin: 15px auto 10px auto;
	border: 5px solid #555;
	border-radius: 15px;
}

.game-container{
	width: 500px;
	margin: 10px auto; 
	border: 5px solid #555;
	border-radius: 15px;

}

#score{
	margin: 5px auto;	
	height: auto;
	width: 300px;
	border: 5px solid #555;
	padding: 5px 10px; 
	border-radius: 15px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.score-player{
	font-family: Tahoma;
	font-size: 20px;
}

.score-computer{
	font-family: Tahoma;
	font-size: 20px;
}

.button-container{
/*	border: solid limegreen 1px;*/
	width: 400px;
	margin: 10px auto 10px auto;
}

.restart-btn{
	display: none;
	font-family: tahoma;
	text-align: center;
	width: 140px;
	border-radius: 10px;
	padding: 5px;
	margin: 5px auto;
}

.instruction{
	font-family: Tahoma;
	color: firebrick;
	text-decoration: underline;
	text-align: center;
	font-weight: 100px;
	margin-top: 10px;
}

img{
	/*margin: auto;*/
	border: 5px solid firebrick;
	border-radius: 10px;
	height: 150px;
	width: 150px;
}

img:hover{
	border: 5px solid limegreen;
}

.spaced-above{
	margin-top: 10px;
	font-family: sans-serif;
}

#subtext{
	font-size: 20px;
	text-align: center;
	font-family: Tahoma;
	}

#rps_text{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#rock_text #paper_text #scissors_text{
	border: 5px solid red;
	float: left;
}

#choices{
	text-align: center;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

.choice{
	color: firebrick;
/*	cursor: pointer;*/
}

.choice:hover{
	color: limegreen;
}

.text-win{
	color: var(--win-color);
}

.text-lose{
	color: var(--lose-color);
}

#rock, #paper, #scissors{
	display: inline-block;
/*	border: 5px solid limegreen;
	height: 150px;
	width: 150px;
	margin: 2px;
	border-radius: 5px;*/
}

